{% extends "header.html" %}
{% block content %}
<section class="banner-bottom">

		<h3 class="tittle">Contact Us</h3>
		<p class="sub text-center">We love to discuss your idea</p>
		<div class="ad-inf-sec">
			<div class="container">
				<div class="address row">

					<div class="col-lg-4 address-grid" data-aos="zoom-in">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-map"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Address</h6>
								<p> Rajkot</p>
							</div>
						</div>

					</div>
					<div class="col-lg-4 address-grid" data-aos="zoom-in">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="far fa-envelope"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Email</h6>
								<a href="mailto:example@email.com"> contactus@chocolateshop.com</a>
							</div>

						</div>
					</div>
					<div class="col-lg-4 address-grid" data-aos="zoom-in">
						<div class="row address-info">
							<div class="col-md-4 address-left text-center">
								<i class="fas fa-mobile-alt"></i>
							</div>
							<div class="col-md-8 address-right text-left">
								<h6>Phone</h6>
								<p>+91 9876543210</p>

							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="contact_grid_right">
				<form action="/docontact/" method="post">
					{% csrf_token %}
					<div class="row contact_left_grid">
						<div class="col-md-6 con-left">
							<div class="form-group" data-aos="fade-down"><br/><br/>
								<input class="form-control" type="text" name="name" placeholder="Name" required="">
							</div>
							<div class="form-group" data-aos="fade-down">
								<input class="form-control" type="email" name="email" placeholder="E-Mail" required="">
							</div>
							<div class="form-group" data-aos="fade-down">
								<input class="form-control" type="text" name="subject" placeholder="Subject" required="">
							</div>
						</div>
						<div class="col-md-6 con-right">
							<div class="form-group" data-aos="fade-down"><br><br>
								<textarea id="textarea" placeholder="Message" name="message" style="height:150px;width:538px;"></textarea>
							</div>
							<input class="form-control mybtncon" type="submit" value="Submit">

						</div>
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock content %}
